         -           -       -
layout: default
title: Resume
         -           -       -
<div class="container">
    <div class="row         -fluid main">
      <div class="content posts col         -md         -9">
         <h1>Baozhu Cai       </h1>

         <h2>Contatct         </h2>

         <p>📧E         -mail: cai_leona@outlook.com       <br/>👁‍Website:       <a href="https://leonacai.github.io/resume/">https://leonacai.github.io/resume/       </a>       </p>

         <h2>Education        </h2>

         <h3>Hainan University, Hainan, China         </h3>

         <p>B.S. in Agriculture with three          -year Agriculture Scholarships (2010        - 2013)        <br/>       <strong>GPA:3.51/4.0 (last 60 credits)         </strong>        <br/>Rank 12 from top in the major      </p>

         <h2>Research Experience      </h2>

         <h4>• Feng Zhang Lab of the State Key Laboratory of Genetic Enineering of School of Life Science of Fudan University, China      </h4>

         <p>&lt;p align=&quot;right&quot;&gt;2015/4         -2019/2&lt;/p&gt;
         - Bioinformatics
             - Called, analyzed and annotated single nucleotide polymorphisms derived from whole exome sequence samples that changes variant interpretation compared to individual variants.
             - Developed an easy and brief way to analyze the trio whole exome sequence;
             - Called, analyzed the differential    expression in RNA            -Seq data, and drew enrichment plot to make the differences clearly using KEGG or GO as background;
             - Analyzed the results from array comparative genomic hybridization (aCGH).
         - Wet experiment
             - Made the libraries of whole exome sequence from the patient&#39;s whole blood;
             - Made the comparative genomic hybridization array (aCGH) from the patient&#39;s whole blood or patient&#39;s carcinoma and adjacent tissue.
         - Clinic
             - Collecting POF (Primary Ovarian Failure) patients&#39; whole samples and ranked the priority of these samples with doctor and other members of POF project.        </p>

         <h4>         <strong>Undergraduate        </strong>       </h4>

         <p>&lt;p align=&quot;right&quot;&gt;Hainan, China&lt;/p&gt;      </p>

         <h4>• Xudong Yu Lab of Hainan University of Botany and Plant Science         </h4>

         <p>&lt;p align=&quot;right&quot;&gt;5/2011             - 6/2013&lt;/p&gt;
         - Found the medicinal and health value of Muntingia calabura L.
             - Muntingia calabura L tissue cultured       </p>

         <h4>• Zhiqiong Tan Lab of Hainan University of Plant Pathology       </h4>

         <p>&lt;p align=&quot;right&quot;&gt;6/2013             - 6/2014&lt;/p&gt;
         - Determined the anti           -microbial activity of Bacillus subtilis B25 to some 
             - Isolation and purification of Bacillus subtilis B25
             - Culture of Bacillus subtilis B25
             - Used dual culture technique and single immunodiffusion test and inhibitory activity of azoxystrobin against mycelial growth and conidia germination of Bacillus subtilis B25 to determine it&#39;s anti           -microbial activity to some phytopathogen       </p>

         <h2>         <a href="https://scholar.google.com/citations?user=QgEkkNEAAAAJ&amp;hl=en">Publications      </a>      </h2>

         <p>          <strong>*        </strong> ACKNOWLEDGEMENTS
         - Xi Yang, Xiaojin Zhang, Jiao Jiao, Feng Zhang, Yuncheng Pan, Qiqi Wang, Qing Chen,         <strong>Baozhu Cai      </strong> Shuyan Tang, Zixue Zhou, Siyuan Chen, Hao Yin, Wei Fu, Yang Luo, Da Li, Guoqing Li, Lingyue Shang, Jialing Yang, Li Jin, Qinghua Shi, Yanhua Wu. &quot;Rare variants in FANCA induce premature ovarian insufficiency.&quot;         <em>Human genetics      </em> (2019): 1          -10.
         - Zhang, Ling, Ximing Xu, Kaiqiang Sun, Jingchuan Sun, Yuan Wang, Yang Liu, Nan Yang, Chengqiu Tao,          <strong>Baozhu Cai      </strong>, Guodong Shi, Feng Zhang, Jiangang Shi.&quot; A de novo mutation in DHD domain of SKI causing spina bifida with no craniofacial malformation or intellectual disability.&quot;          <em>American Journal of Medical Genetics Part A      </em> 179.6 (2019): 936         -939.
         - Qiqi Wang, Da Li,          <strong>Baozhu Cai       </strong>, Qing Chen, Caihua Li, Yanhua Wu, Li Jin, Xiuxia Wang, Xiaojin Zhang, Feng Zhang. &quot;Whole exome sequencing reveals SALL4 mutations in premature ovarian insufficiency: an update on genotype            -phenotype correlations.&quot;       <em>Human genetics        </em> 138.1 (2019): 83           -92.
         - Qing Chen, Qi         -Qi Wang,         <strong>Bao           -Zhu Cai         </strong>, Xiao           -Jun Ren, Feng Zhang, Xiao         -Jin Zhang. &quot;Analysis of the fragile X mental retardation 1 premutation in Han Chinese women presenting with primary ovarian insufficiency.&quot;          <em>Reproductive and Developmental Medicine      </em> 1.1 (2017): 9.
         -        <strong>*      </strong> Wang, Lingbo, et al. &quot;Joint utilization of genetic analysis and semi         -cloning technology reveals a digenic etiology of Müllerian anomalies.&quot;       <em>Cell Research         </em>(2019): 1         -4.        </p>

         <h2>Selected Coursework (scores out of 100)      </h2>

         <ul>         <li>Advanced Mathematics (2) (80/100)        </li>       <li>Mathematical Modeling (90/100)         </li>        <li>Advanced Language Programming (85/100)      </li>         <li>Linear Algebra (73/100)      </li>         </ul>

         <h2>Independent Coursework       </h2>

         <ul>         <li>         <a href="https://www.coursera.org/account/accomplishments/certificate/KSYN2RP3XQRT">Grammar and Punctuation      </a>      <ul>      <li>Coursera (University of California, Irvine)       </li>      </ul>         </li>        <li>An Introduction to Interactive Programming in Python (Part 1)       <ul>      <li>Coursera (Rice University)        </li>       </ul>      </li>         <li>Biology Meets Programming: Bioinformatics for Beginners (learning)       <ul>      <li>Coursera (University of California, San Diego)        </li>       </ul>      </li>         <li>Machine Learning (learning)          <ul>         <li>Coursera (Stanford University)       </li>      </ul>         </li>        </ul>

         <h2>Skills       </h2>

         <ul>         <li>         <strong>Computing        </strong>: Python, R, Perl, C++, Ruby       </li>      <li>      <strong>Web Development       </strong>: HTML, Markdown, CSS         </li>        <li>        <strong>Operating Systems       </strong>: Linux, Windows      </li>         </ul>

         <h2>Leadership Experience and Activites      </h2>

         <ul>         <li>The student union of Hainan University                                         5/2011             - 6/2012       <ul>       <li>Vice President         </li>        </ul>       </li>      </ul>
         {% include {{ site.baseurl }}comments.html %}
        </div>
    
        <div class="col-md-3 main-sidebar">
          {% include {{ site.baseurl }}sidebar_main.html %}
        </div>
      </div>
    </div>
    