<!-- Gitment -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '页面 ID', // 可选。默认为 location.href
  owner: 'LeonaCai',
  repo: 'LeonaCai.github.io',
  oauth: {
    client_id: '28f98fb9d0ab13d51385',
    client_secret: 'e2f988c52b88ab4c5fc0c3145d2416daefff4f26',
  },
})
gitment.render('container')
</script>